<section id="about" class="about">
    <h2>About Me</h2>
    <div class="about-box about-description">
        <p>Hi! I'm Rico Villamin, an enthusiastic web developer currently honing my craft at Mabini Colleges Daet. With 4 months of hands-on experience, I thrive on creating dynamic, user-friendly web applications. My specialties include HTML, CSS, Java, JavaScript, and React, where I blend creativity and code to bring ideas to life.
        </p>
    </div>
    <div class="about-box about-skills">
        <h3>Skills</h3>
        <p>React, HTML, CSS, Javascript, Java, Python, SQL</p>
    </div>
</section>