<section id="certificates" class="certificates">
    <h2>Certificates</h2>
    <div class="cert-container">
        <div class="cert-box">
            <img src="{{ url_for('static', filename='images/certificate.1.jpg') }}" alt="Certificate 1" class="cert-image" onclick="enlargeImage(this)">
            <h1>Certificate 1</h1>
            <a href="{{ url_for('static', filename='images/certificate.1.jpg') }}" class="cert-download-btn" download="Certificate_1.jpg">Download</a>
        </div>
        <div class="cert-box">
            <img src="{{ url_for('static', filename='images/certificate.2.jpg') }}" alt="Certificate 2" class="cert-image" onclick="enlargeImage(this)">
            <h1>Certificate 2</h1>
            <a href="{{ url_for('static', filename='images/certificate.2.jpg') }}" class="cert-download-btn" download="Certificate_2.jpg">Download</a>
        </div>
    </div>
    <!-- Modal for enlarged image -->
    <div id="imageModal" class="modal">
        <span class="close-btn" onclick="closeImage()">×</span>
        <img id="enlargedImg" class="modal-content" alt="Enlarged Certificate">
    </div>
</section>