<section id="hero" class="hero">
    <div class="hero-content">
        <img src="{{ url_for('static', filename='images/pfp.png') }}" alt="Profile Image" class="hero-image">
        <div class="hero-text">
            <h2>Welcome to My Portfolio</h2>
            <p>Hi, I’m Rico Villamin, a passionate Web Developer creating impactful solutions.</p>
            <a href="{{ url_for('static', filename='pdfs/cv.pdf') }}" class="btn" download="Rico_Villamin_CV.pdf">Download CV</a>
            <div class="social-links">
                <a href="https://github.com/Secretive-Plotterrr" target="_blank" rel="noopener" class="social-icon" title="Visit my GitHub profile">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/rico-villamin-51072233b/" target="_blank" rel="noopener" class="social-icon" title="Visit my LinkedIn profile">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://www.facebook.com/cosmoaintsimpp" target="_blank" rel="noopener" class="social-icon" title="Visit my Facebook profile">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="https://www.instagram.com/secretive_plotterrr/" target="_blank" rel="noopener" class="social-icon" title="Visit my Instagram profile">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</section>