<header class="navbar">
    <div class="navbar-content">
        <img src="{{ url_for('static', filename='images/Logo.jpg') }}" alt="Logo" class="navbar-logo">
        <h1>Voidstack</h1>
        <input type="checkbox" id="nav-toggle" class="nav-toggle" title="Toggle navigation menu">
        <label for="nav-toggle" class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <nav>
            <ul>
                <li><a href="#hero">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#certificates">Certificates</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>