<section id="projects" class="projects">
    <h2>Projects</h2>
    <div class="project-container">
        <div class="project-card">
            <img src="{{ url_for('static', filename='images/project1.png') }}" alt="Project 1" class="project-image">
            <h3>Project 1</h3>
            <p>Tic-Tac-Toe, a game made of javascript.</p>
            <div class="project-buttons">
                <a href="https://github.com/Secretive-Plotterrr/Tic-Tac-Toe" target="_blank" class="view-btn" rel="noopener">View</a>
                <a href="https://secretive-plotterrr.github.io/Tic-Tac-Toe/" target="_blank" class="demo-btn" rel="noopener">Live Demo</a>
            </div>
        </div>
        <div class="project-card">
            <img src="{{ url_for('static', filename='images/project2.png') }}" alt="Project 2" class="project-image">
            <h3>Project 2</h3>
            <p>Responsive React Web Portfolio.</p>
            <div class="project-buttons">
                <a href="https://github.com/Secretive-Plotterrr/Web-Portfolio" target="_blank" class="view-btn" rel="noopener">View</a>
                <a href="https://secretive-plotterrr.github.io/Web-Portfolio/" target="_blank" class="demo-btn" rel="noopener">Live Demo</a>
            </div>
        </div>
        
    </div>
</section>